/* Geral */
* {
  padding: 0%;
  margin: 0%;
  font-family: Helvetica;
  color: #333;
  box-sizing: border-box;
}

body {
  background-image: url('../1064067.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

button {
  background-color: #fdfdfd;
  color: #812785;
  border: 2px solid #812785;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button:hover {
  background-color: #812785;
  color: #fff;
}

button:hover > i {
  color: #fff;
}

button i {
  color: #812785;
  font-weight: bold;
  pointer-events: none;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.hide {
  display: none;
}

/* ToDo header */
.todo-container {
  max-width: 450px;
  margin: 3rem auto;
  background-color: #fdfdfd;
  padding: 1.5rem;
  border-radius: 15px;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  margin-right: 0.3rem;
  border-bottom: 1px solid #ccc;
}

#cancel-edit-btn {
  margin-top: 1rem;
}
/* Todo form */
#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.3rem;
}

#cancel-edit-btn {
  margin-top: 0.5rem;
}

/* Todo toolbar */
#toolbar {
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
}

#toolbar h4 {
  margin-bottom: 0.5rem;
}

#search {
  border-right: 1px solid #ddd;
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: 0.3rem;
}

#filtrar {
  display: flex;
  margin-bottom: 10px;
}

#filter-select {
  width: 120px;
}

/* Todo List */
.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
  height: 55px;
}

.todo h3 {
  flex: 1;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo button {
  margin-left: 0.4rem;
}

.done {
  background-color: #974b9b;
}

.done h3 {
  color: #fff;
  text-decoration: line-through;
  font-style: italic;
}

#todo-list {
  margin-left: -15px;
  margin-right: -15px;
}
